.logo {
  height: 50px;
  float: left;
  color: #fff;
}

#header-container {
  top: 0;
  position: fixed;
  width: 100%;
  font-weight: bold;
  z-index: 1002;
}

#header {
  height: 50px;
  background: #2D2524;
  padding: 0 20px;
  color: white;
  position: fixed;
  width: 100%;
  display: block;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
}

.image-preview__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}



.header2 {
  display: none;
}

.menu {
  float: right;
  line-height: 50px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.menu-list a {
  display: flex;
  align-items: center;
}

.menu-list a img{
    margin-right: -15px;
}

.background-img {
  background: url("../../image/image13.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  width: 100%;
  position: relative;
  height: 70vh;
}
.background-img-msk{
  background: rgba(0, 0, 0, 0.3);
  height: 70vh;
}
.main_search {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  text-align: center;
}
.background-img h1{
  color: #fff;
  
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 20px;
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.search_text {
  background: #232323;
  opacity: 0.9;
  padding-left: 10px;
  border: solid 3px #fff;
  font-size: 16px;
  line-height: 30px;
  width: 35%;
  height: 3rem;
  font-weight: 400;
  color: #fff;
}

.search_text:focus {
  outline: none;
}

.Genre {
  color: #fff;
  background: #232323;
  opacity: 0.9;
  border: solid 3px #fff;
  padding-left: 5px;
  font-size: 16px;
  line-height: 30px;
  width: 22%;
  height: 3.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.Genre:focus {
  outline: none;
}

.search_date {
  background: #232323;
  opacity: 0.8;
  margin-right: 15px;
  padding-left: 15px;
  color: #fff;
  border: solid 3px #fff;
  font-size: 16px;
  width: 20%;
  font-weight: 400;
  height: 3rem;
}

.search_date:focus {
  outline: none;
}

.search_icon {
  color: #fff;
}

.show-menu-btn, .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 50px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: grey;
}

.paragrah {
  height: 50%;
  width: 30%;
  color: white;
  margin-left: 5em;
  margin-top: 7em;
  margin-bottom: 20em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*.content {
    padding: o 20px;

    img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    }
}*/
.test {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.test i {
  font-size: 1.6em;
}

@media screen and (max-width: 767px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 173px;
  }

  .background-img h1{
    width: 100%;
    padding: 15px 0px;
    top: 55%;
    left: 50%;
    font-size: 36px;
  }
  .test {
    margin-top: 2rem;
    font-size: 1rem;
  }

  #header {
    display: none;
  }
  .search {
    display: none;
  }
  .header2 {
    display: block;
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: fixed;
    height: 50px;
    background: #2D2524;
    overflow: hidden;
    z-index: 10;
  }
  .background-img {
    width: 100%;
  }
  .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
  }
  .mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
  }
  #sidebarSearch {
    position: relative;
    height: 100%;
    left: 0;
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
    color: #fff;
    position: fixed;
    text-align: center;
  }
  .sidebarIconSearch i {
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 25px;
    z-index: 99;
    font-size: 20px;
  }
  input[type="checkbox"]:checked ~ #sidebarSearch {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarSearch ~ .sidebarIconToggle {
    display: none;
  }
  .openSidebarSearch {
    float: right;
  }
  .search-title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
  }
  .search_text {
    outline: none;
    height: 30px;
    width: 60%;
    border: solid 3px #fff;
    background: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
  }
  .tag-list {
    color: #000000;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 10px;
  }
  .tag-list li {
    background: #fff;
    border-radius: 30px;
    margin: 4px;
    height: 24px;
    width: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
  .Category dt {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Category dt img {
    width: 50px;
    height: 50px;
  }
  .Category dd {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
  }
  .Category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .Genre {
    color: #fff;
    background: none;
    padding-left: 5px;
    border: solid 2px #fff;
    font-size: 11px;
    line-height: 30px;
    width: 24%;
    height: 34px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px;
  }

  #select {
    width: 60%;
  }

  .Day-box {
    outline: none;
    height: 30px;
    width: 60%;
    border: solid 3px #fff;
    background: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
  }
  #sidebarMenu {
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 50px;
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
  }
  .sidebarMenuInner {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
  }
  .sidebarMenuInner li {
    text-align: center;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
  }
  .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarMenu ~ .sidebarIconSearch {
    display: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu ~ #sidebarSearch {
    display: none;
  }
  input[type=checkbox] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 18px;
    left: 20px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }


}

/*@import "./card";
@import "./category";
@import "./howtouse";
@import "./login";
@import "./footer";
@import "./footer";*/
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 25px;
}

h3 {
  color: white;
  font-size: 25px;
}

h4 {
  color: white;
  font-size: 23px;
  margin-top: 2rem;
}

.face {
  background: #305097;
}

.twi {
  background: #00aced;
}

.goo {
  background: #db4a39;
}
/*# sourceMappingURL=main.css.map */