

.prompt {
    height: 90vh;
    width: 0 auto;
    background: url(../paul-fiedler-L-O36LuX9TY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% -150px;
    color: #ffffff;
  }
  
  .prompt-erea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .prompt-inner {
    position: absolute;
    height: 50vh;
    width: 95%;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    top: 80%;
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
    padding: 2rem 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #000000;

  }
  .logo-area{
    justify-content: center;
    display: flex;
    align-items: center;
    background: #2d2524;
  }
  .logo{
      width: 300px;
  }
  .prompt-inner h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .prompt-inner h2 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }

  .prompt-inner p {
    margin-bottom: 3.5rem;
  }
  
  .btn1 {
    color: #ffffff;
    background: #0FCC41;
    margin-top: 2rem;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    line-height: 1rem;
    cursor: pointer;
    outline: none;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
    padding: 1rem;
    text-decoration: none;
  }
  
  .footer-area {
    color: black;
    position: absolute;
    height: 50px;
    width: 90%;
    border-top: solid 1px #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 3rem;
  }

  .footer {
    width: 100%;
    background-color: #2D2524;
  }

.follow {
  color: white;
  font-size: 20px;
  padding: 2rem;
    font-weight: bold;
}

.social {
  margin-left: 4rem;
  display: flex;
}
.social-area{
    background: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.social img {
    background: #ffffff;
    height: 25px;
    width: 25px;
}

.terms a {
  color: white;
  text-decoration: none;
  float: right;
  font-size: 12px;
  margin: 50px 2rem 20px;
  border-bottom: solid 1px #ffffff;
}  

small {
  justify-content: center;
  display: flex;
  color: white;
  width: 100%;
}
.footer {
    width: 100%;
    background-color: #2D2524;
  }



  .social {
    margin-left: 2rem;
  }


  .copyright{
      padding: 20px 0;
      text-align: center;
  }


  
  @media screen and (max-width: 1030px) {
    .prompt-inner h1 {
      margin-bottom: 2.2rem;
    }
    .prompt-inner h2 {
      margin-bottom: 1.2rem;
    }
    .prompt-inner p {
      font-size: 1.2rem;
    }

  }
  
  @media screen and (max-width: 766px) {
    .logo{
      width: 250px;
  }
    .prompt-contents {
      width: 80%;
    }
    .prompt-inner {
      text-align: center;
      padding: 2rem 1.5rem;
    }
    .prompt-inner h1 {
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }
    .prompt-inner h2 {
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
    }
    .prompt-inner p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .btn1 {
      margin-top: 2.0rem;
      height: 18px;
      font-size: 14px;
      padding: 0.8rem;
    }
    .follow {
    font-size: 15px;
    padding: 1.6rem;
  }
  }
 

  @media screen and (max-width: 340px) {
    .prompt-inner {
      text-align: center;
      padding: 1.5rem 1rem;
    }
    .prompt-inner h1 {
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }
    .prompt-inner h2 {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    .prompt-inner p {
      font-size: 0.8rem;
      
    }
    .btn1 {
      margin-top: 2.0rem;
      height: 18px;
      font-size: 14px;
      padding: 0.8rem;
    }

  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }
  
  body {
    letter-spacing: 1.5px;
    background: #000000;
  }
  
  .face {
    background: #305097;
  }
  
  .twi {
    background: #00aced;
  }
  
  .goo {
    background: #db4a39;
  }
  /*# sourceMappingURL=main.css.map */
